.payment-Component {
  height: 200px;
}
.payment-Body {
  width: 500px;
  margin: 10% auto;
  border-radius: 1rem;
  padding: 2rem;
}
.payment-Title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "GmarketSansMedium";
  letter-spacing: 1rem;
  padding: 1rem 0;
  margin: 2rem 0;
}

.payment-Body {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-family: "GmarketSansMedium";
  background-color: #c5b9ad;
  border-radius: 2rem 2rem 0 0;
  overflow-y: scroll;
  height: 302px;
  overflow: auto;
  padding: 2rem;
}
.payment-Body::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  padding: 1rem;
}

.payment-Body::-webkit-scrollbar-thumb {
  background: #8f8479; /* 스크롤바의 색상 */
  border-radius: 10px;
  padding-top: 2rem;
}

.payment-Body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /*스크롤바 뒷 배경 색상*/
  margin-top: 2rem;
}
.payment-main-Title {
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: inline;
  font-size: 1.2rem;
  font-family: "GmarketSansMedium";
}
.payment-Body-p {
  display: inline-block;
  margin: 0.5rem;
  font-size: 0.8rem;
  font-family: "GmarketSansMedium";
}
.payment-OrderHistory {
  display: flex;
  font-size: 1rem;
  padding: 1rem;
}
.payment-Table {
  width: 100%;
}
.payment-Table tr:not(:last-child) td {
  padding: 3rem 0;
}
.payment-Table tr td:first-child {
  font-weight: bold;
}
.payment-Table .payment-Table-lastChild td {
  padding: 1rem 0;
  border-top: 2px dashed #84848489;
}
.payment-Method {
  font-size: 0.9rem;
  margin: 1rem 0;
}
.payment-Method label {
  margin: 1rem 0.5rem;
}
.paymentComponent-button {
  margin-top: 2rem;
  width: 100%;
  height: 2.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  border: 0px;
  border-radius: 10px;
  font-family: "GmarketSansMedium";
}
.paymentComponent-button:hover {
  color: #3c3c3c;
  background: #8f8479;
  font-weight: bold;
  cursor: pointer;
}
